.DS_Store
.sass-cache/
vendor/*
dev/*
storage/*
test/*
.system/ssl-tls/
composer.lock
.system/errors/
.system/appdata/*
.var
.constant
!vendor/autoload.php
!vendor/.gitkeep
!vendor/composer/*
!dev/README.md
!dev/.gitkeep
!storage/.gitkeep
!.system/errors/.gitkeep
!.system/appdata/.gitkeep
!.system/ssl-tls/.gitkeep
