##  !!! ( DO NOT MESS WITH THIS FILE ) ELSE ( YOU WILL HAVE A MESSED UP PROJECT) (-_-)
## Generic settings
Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine On
RewriteBase /
<FilesMatch "^\.([a-zA-Z0-9\.\_\-]{1,})$">
  Order Deny,Allow
  Deny from all
</FilesMatch>
##--
##-REWRITEPATH-START
SetEnvIf Request_URL "^.*" SHORTCUT_PATH=/vendor
##-REWRITEPATH-END
##-REMOVE-WWW-START
# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
# RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [R=301,QSA,NC,L]
##-REMOVE-WWW-END
#-FORCE-HTTPS-START
# RewriteCond %{HTTPS} !=on
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#-FORCE-HTTPS-END
##-APP-SHORTCUT-START
##-tymfrontiers-cdn/admin.soswapp-START
RewriteRule ^work-domain/?$ /work-domain.php
RewriteRule ^admin/?$ /app/tymfrontiers-cdn/admin.soswapp/ [QSA,NC,L]
RewriteRule ^admin/(sign|log)\-?(in|out)/?$ /app/tymfrontiers-cdn/admin.soswapp/service/sign-$2.php [QSA,NC,L]
RewriteRule ^admin/([0-9a-zA-Z\-\.]{3,})/?$ /app/tymfrontiers-cdn/admin.soswapp/service/$1.php [QSA,NC,L]
RewriteRule ^admin/([0-9a-zA-Z\-\.]{3,})/([0-9a-zA-Z\-\.]{3,})/?$ /app/tymfrontiers-cdn/admin.soswapp/service/$1-$2.php [QSA,NC,L]
RewriteRule ^admin/(.*)$ /app/tymfrontiers-cdn/admin.soswapp/$1 [QSA,NC,L]
##-tymfrontiers-cdn/admin.soswapp-END
##-APP-LOCATOR-START
RewriteRule ^app/(400|401|403|404|500|faqs?|terms|policy|support|prjman|admin\-navlist)/?$ /app/soswapp/$1.soswapp/ [QSA,NC,L]
RewriteRule ^app/policy/([a-zA-Z0-9\-]{3,16})/?$ /app/soswapp/policy.soswapp/loader.php?sub=$1 [QSA,NC,L]
RewriteRule ^app/(400|401|403|404|500|faqs?|terms|policy|support|prjman|admin\-navlist)/(.*)?$ /app/soswapp/$1.soswapp/$2 [QSA,NC,L]
RewriteRule ^app/(apps|applications)/?$ /app/soswapp/app-explorer.soswapp/ [QSA,NC,L]
RewriteRule ^app/file/?$ /app/soswapp/file.soswapp/ [QSA,NC,L]
RewriteRule ^app/file/(\d+)$ /app/soswapp/file.soswapp/?fid=$1 [QSA,NC,L]
RewriteRule ^app/file/([a-zA-Z0-9\-\.\_]+)$ /app/soswapp/file.soswapp/?fname=$1 [QSA,NC,L]
##
RewriteRule ^(app|application)/([A-Za-z0-9\-\.\_]{3,})/([A-Za-z0-9\-\.\_]{3,})/?$ %{ENV:SHORTCUT_PATH}/$2/$3/ [QSA,NC,L]
RewriteRule ^(app|application)/([A-Za-z0-9\-\.\_]{3,})/([A-Za-z0-9\-\.\_]{3,})/(.*)$ %{ENV:SHORTCUT_PATH}/$2/$3/$4 [QSA,NC,L]
##-APP-LOCATOR-END
##-APP-SHORTCUT-END

##-CUSTOM-HTTP-ERROR-START
ErrorDocument 400 /app/400/?request=%{THE_REQUEST}
ErrorDocument 401 /app/401/?request=%{THE_REQUEST}
ErrorDocument 403 /app/403/?request=%{THE_REQUEST}
ErrorDocument 404 /app/404/?request=%{THE_REQUEST}
ErrorDocument 500 /app/500/?request=%{THE_REQUEST}
##-CUSTOM-HTTP-ERROR-END
